.container{
    height: auto;
    width: 100%;
    padding: 70px 0px 0px;
    /* border: 1px solid black; */
}
.container>img{
    padding: 0px 0px 80px;
}
.main{
    height: 100%;
    padding: 80px 35px;
    width: 80%;
    /* border: 1px solid blue; */
    margin: 0px 125px;
    display: flex;
    justify-content: space-between;
}
.links{
    height: 100%;
    width: 360px;
    /* border: 1px solid red; */
}
.logo{
    height: 50px;
    border: 1px solid white;
    margin-bottom: 70px;
}
.content{
    height: 100%;
    width: 750px;
    /* border: 1px solid red; */
}
.social{
    margin: 0px 0px 20px;
    height: 22px;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    gap: 20px;
}
.media>p{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    font-family: Roboto, sans-serif;
}
.buttons{
    display: flex;
    /* border: 1px solid black; */
    height: 30px;
    gap: 10px;
}
button{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #2C4BFF;
    width: 115px;
    color: #2C4BFF;
    padding: 4px 8px;
}
.appstore{
    color: #2C4BFF;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.appstore>img{
    max-height: 18px;
    max-width: 18px;
}
.buttons+p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 18px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.info{
    width: 140px;
    height: 100%;
    /* border: 1px solid blue; */
    text-align: left;
}
.info>h1{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
}
.info>p{
    font-size: 20px;
    font-family: Roboto, sans-serif;
    line-height: 1.3;
    margin-bottom: 10px;
}